body{
    background-color: gray;
}

#navbar{
    background-color: blue;
    padding: 60px;
}

#cantoE{
    background-color: orange;
    text-align: start;
    padding: 10px;
    
}

#cantoD{
    background-color: orange;
    text-align: end;
    padding: 10px;
}